.header {
    border-bottom: 1px solid #ECECEC;
    @media screen and (max-width: 767px) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.header-container {
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
		height: 80px;
	}
}
.main-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-cl);
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 0;
    @media screen and (mid-width: 768px) {
		margin-right: 0;
	}
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-cl);


    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px; 
        margin-right: 0;   
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        padding-top: 24px;
        padding-bottom: 25px;   
    }
}

.logo-span {
    text-decoration: none;
    color: var(--span-txt-cl);
}

.list-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: 93px;
    margin-right: auto;
    display: none;

    @media screen and (min-width: 768px) {
		display: flex;
		margin-left: 88px;
		gap: 50px;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		gap: 50px;
	}
}


.header-link {
    display: none;
	
	@media screen and (min-width: 768px) {
		display: unset;
		margin-left: 0;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}

.current {
    color: var(--span-txt-cl);
    position: relative;
}

.current::after {
    content: "";
    position: absolute;
    display: block;
  
    width: 100%;
    height: 4px;
  
    margin-top: 29px;
    border-radius: 4px;
    background: var(--span-txt-cl);

    @media screen and (min-width:1200px) {
        bottom: -0.3%;  
    }
}

.active.current {
    color: var(--span-txt-cl);
}

.list-item-link.current::after {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: -0.5%;
    
    width: 100%;
    height: 4px;
    
    border-radius: 2px;
    background: var(--span-txt-cl);
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 30px;
    }
}



.list-item-link,
.list-item-link-p,
.list-item-link-s,
.mail,
.tel {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   gap: 10px;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
}
}

.list-item {
    list-style-type: none;
}
.list-item:not(:last-child) {
    margin-right: 30px;
}
.list-item-link {
    text-decoration: none;
    color: var(--main-title-cl);
    display: block;
    align-items: center;
    
    
}

.list-item-link-p {
    text-decoration: none;
    color: var(--main-title-cl);
    display: block;
    align-items: center;
    list-style-type: none;
}

.list-item-link-s {
    text-decoration: none;
    color: var(--main-title-cl);
    display: block;
    align-items: center;
}

.list-item-link:hover,
.list-item-link:focus,
.list-item-link-p:hover,
.list-item-link-p:focus,
.list-item-link-s:hover,
.list-item-link-s:focus {
  color: var(--span-txt-cl);
}
.link {
    text-decoration: none;
}

.mail,
.tel {
    text-decoration: none;
    font-weight: 500;
    color: var(--main-txt-cl);
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px){
        display: flex;
        gap: 8px;    
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 10px;
        padding-top: 32px;
        padding-bottom: 32px;    
    }

    @media screen and (max-width: 1199px) {
        padding-top: 21px;
        margin-bottom: 10px;   
    }
    @media screen and (max-width: 1199px) {
        padding-bottom: 21px;   
    }
}
.mail,
.tel:not(:last-child) {
    margin-right: 50px;
}
.mail:hover,
.mail:focus {
    color: var(--span-txt-cl);
}
.tel:hover,
.tel:focus {
    color: var(--span-txt-cl);
}
.header__group-link:not(:last-child) {
	//tablet styles
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-top: 10px;
		height: 10px;
		margin-bottom: 10px;
	}
	//desktop styles
	@media screen and (min-width: 1200px) {
		margin-right: 50px;
		margin-top: 0;
	}
}

.link-address {
    fill: currentColor;
    display: flex;
    gap: 10px;
}
